@model SimpleCms.ModuleZero.Users.Dto.NewUserInput
@{
    Layout = null;
}
<form id="createUserForm">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create User </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="widget-body">

                <ul id="myTab1" class="nav nav-tabs bordered">
                    <li class="active">
                        <a href="#s1" data-toggle="tab">Properties</a>
                    </li>
                    <li class="">
                        <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gear"></i> Roles</a>
                    </li>

                </ul>

                <div id="myTabContent1" class="tab-content padding-10">
                    <div class="tab-pane fade active in" id="s1">
                        <div class="smart-form">
                            @*<div class="row">

                                    <section class="col col-8">
                                        <label class="label">
                                            Upload profile picture
                                        </label>
                                        <section>
                                            <label class="label">File input</label>
                                            <label for="file" class="input input-file">
                                                <div class="button">
                                                    <input type="file" name="file" id="image" onchange="this.parentNode.nextSibling.value = this.value">Browse
                                                </div><input type="text" placeholder="Include some files" readonly="">
                                            </label>
                                        </section>
                                        <div class="alert alert-danger fileMsg" style="display: none">File to heavy bro!</div>
                                    </section>
                                    <section class="col col-4">
                                        <img id="preview" src="" height="200" class="img-responsive"/>
                                    </section>
                                </div>*@
                            <section>
                                <label class="label">
                                    Name
                                </label>
                                <label class="input">

                                    @Html.TextBoxFor(a => a.Name)
                                </label>
                            </section>
                            <section>
                                <label class="label">
                                    Surname
                                </label>
                                <label class="input">

                                    @Html.TextBoxFor(a => a.Surname)
                                </label>
                            </section>
                            <section>
                                <label class="label">
                                    Username
                                </label>
                                <label class="input">

                                    @Html.TextBoxFor(a => a.UserName)
                                </label>
                            </section>
                             <section>
                                <label class="label">
                                    Email
                                </label>
                                <label class="input">

                                    @Html.TextBoxFor(a => a.Email)
                                </label>
                            </section>
                            <section>
                                <label>
                                    @Html.CheckBoxFor(a => a.SendActivationEmail) Send Activation Email
                                </label>
                            </section>
                            <section>
                                <label>
                                    @Html.CheckBoxFor(a => a.CreateRandomPassword) Create Random Password
                                </label>
                            </section>
                            <div style="display: none;" id="ps">

                                <section>
                                    <label class="label">
                                        Password
                                    </label>
                                    <label class="input">

                                        @Html.EditorFor(a => a.PasswordInput)
                                    </label>
                                </section>
                                <section>
                                    <label class="label">
                                        Confirm Password
                                    </label>
                                    <label class="input">

                                        @Html.EditorFor(a => a.ConfirmPassword)
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label>
                                    @Html.CheckBoxFor(a => a.IsActive) Active
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="tab-pane fade checks" id="s2">
                        @foreach (var p in Model.Roles)
                        {
                            var prop = "";
                            if (p.Granted)
                            {
                                prop = "checked ='checked'";
                            }
                            <div class="checkbox">

                                <label>
                                    <input type="checkbox" class="checks" name="@p.RoleName" @prop />@p.DisplayName
                                </label>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
        <button type="submit" class="btn btn-primary btnCreate">@L("Save")</button>
    </div>
</form>
<script src="~/Areas/Admin/Scripts/_users_Create.js"></script>