@using SimpleCms.ModuleCms.Constants
@using SimpleCms.ModuleEcommerce.Constants
@using SimpleCms.ModuleZero.Constants

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Admin</li>
        <li>My Organization</li>
        <li>Languages</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-flag fa-fw "></i>
                Site Languages
            </h1>


        </div>
    </div>
</div>
<section id="widget-grid">
    <article class="col-sm-12 sortable-grid ui-sortable">
        <button class="btn btn-primary create" type="button">CREATE NEW</button>
        <div class="jarviswidget jarviswidget-sortable" id="wid-id-lang001" role="widget">
            <header role="heading">

                <h2>
                    <strong>Information</strong>
                </h2>

                <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>

            </header>
            <div role="content">
                <div class="widget-body" id="tableWidget">
                    @*<div class="row">
                            <div class="col-sm-3">
                                <label form="Sources">Select Source</label><br/>
                                <select id="Sources">
                                    <option value="@ModuleZeroConstants.Source">@ModuleZeroConstants.Source</option>
                                    <option value="@ModuleCmsConstants.Source">@ModuleCmsConstants.Source</option>
                                    <option value="@ModuleEcommerceConstants.Source">@ModuleEcommerceConstants.Source</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label form="Langs">Select Lang</label><br/>
                                <select disabled id="Langs">
                                    <option>Select source</option>
                                    <option value="@ModuleZeroConstants.Source">@ModuleZeroConstants.Source</option>
                                    <option value="@ModuleCmsConstants.Source">@ModuleCmsConstants.Source</option>
                                    <option value="@ModuleEcommerceConstants.Source">@ModuleEcommerceConstants.Source</option>
                                </select>
                            </div>
                        </div>*@
                    <table id="langsTable"></table>
                    <div id="pagination"> </div>
                    <p>*Host languages cannot be edited, but you can change the texts</p>
                    <p>Notifications</p>
                    <a data-name="Createdlanguage" data-activeMessage="Subscribe to created language" data-inActiveMessage="Unsubscribe to created language" class="btn btn-xs btn-default notificationButton">Getting data...</a>
                    <a data-name="Editedlanguage" data-activeMessage="Subscribe to edited language" data-inActiveMessage="Unsubscribe to edited language" class="btn btn-xs btn-default notificationButton">Getting data...</a>
                    <a data-name="Deletedlanguage" data-activeMessage="Subscribe to deleted language" data-inActiveMessage="Unsubscribe to deleted language" class="btn btn-xs btn-default notificationButton">Getting data...</a>
                </div>

            </div>

        </div>
    </article>
</section>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/plugin/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/plugin/jqgrid/grid.locale-en.min.js"></script>
  
<script src="~/Areas/Admin/Scripts/_languages.js"></script>
}